@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


* {
    margin: 0px;
    padding: 0;
}

header {
    background-color: white;
    color: white;
    height: 18%;
    width: 100%;
    z-index: 10;
    position: fixed;
    font-weight: 100;
}

.header-logo {
    font-size: 10px;
    float: left;
    padding-left: 30px;
    padding-top: 0px;

}

.header-logo > img {
    width: 70%;
}

.header-list ul li a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 20px;
    transition: all ease 0.5s;
}

.header-list ul li {
    float: right;
    padding-left: 30px;
    padding-top: 30px;
    list-style: none;
    padding-right: 40px;
}

.des{
    font-size: 24px;
}

header ul li a:hover {
    background-color: rgba(220, 20, 60);
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    height: 70%;
}

.box {
    width: 500px;
    padding-top: 15%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 20px solid #DC143C;
}

.box h2 {
    color: #fff;
    background: #DC143C;
    padding: 14px 19px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.box .des li {
    list-style: none;
    padding: 10px;
    width: 96%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    font-family: 'Patrick Hand', cursive;
}


.box .des li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #DB7093;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;

}


.box .des li span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #DB7093;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box .des li:hover span {
    background: #fff;
    color: #DB7093;
}

main {
    background: url(./Images/div.jpg);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #fff;
    padding: 12px 29px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 15vh;
    letter-spacing: 4px;
    height: 8vh;
    font-family: 'Patrick Hand SC', cursive;
}

.text-box {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Neuton', serif;
    border: none;

}

.hero-btn:hover {
    border: 1px solid #DC143C;
    background: #DC143C;
    transition: 1s;
    color: #fff;
    width: 88%;
}



/*Footer*/
.sec {
    border-top-left-radius: 40px;
    background: black;
    margin-top: 2%;
    color: #FFB6C1 ;
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-head {
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
}

.bout p{
    font-size: 18px;
    color: white;
    font-weight: 100;
}
.bout {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-top: 1vh;
}

.head {
    padding-left: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.head:hover{
    color: white;
}
.sci li {
    float: right;
    text-decoration: none;
    list-style: none;
    padding-right: 40px;
    font-size: 30px;
}

.socials {
    display: flex;
    align-items: center;
}

.sci li a {
    color: white;
}

.sci li a:hover {
    transition: 1s;
    box-shadow: inset-1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
}
.sci li i{
     transition: .5s;
}
.sci li i:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.sci li:nth-child(1) a:hover {

    color: #3b5998;
    transform: translateY(-20%);

}

.sci li:nth-child(2) a:hover {

    color: rgba(188, 42, 141);
    transform: translateY(-20px);

}

.sci li:nth-child(3) a:hover {

    color: #F0E68C;
    transform: translateY(-20px);
}

     /*Footer*/
        
     footer {
        position: relative;
        top: 70px;
        bottom: 0;
        left: 0;
        right: 0;
        background: #111;
        height: 200%;
        width: 100%;
        padding-top: none;
        color: #fff;
        /*padding: 5px 0px 5px 0px;*/
    }
    
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .footer-content h3 {
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
        font-family: 'Raleway', sans-serif;
        color: rgb(207, 205, 205);
    }
    
    .footer-content p {
        max-width: fit-content;
        margin: 0px 0px 0px 0px;
        margin-top: 3px;
        margin-bottom: 20px;
        line-height: 28px;
        font-size: 20px;
        color: #999999;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .footer-bottom {
        background: #000;
        width: 100vw;
        padding: 20px;
        padding-bottom: 40px;
        text-align: center;
    }
    
    .footer-bottom p {
        float: left;
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }
    
    .footer-bottom p a {
        color: #44bae8;
        font-size: 16px;
        text-decoration: none;
    }
    
    .footer-bottom span {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    }
    
    .footer-menu {
        float: right;
    }
    
    .footer-menu ul {
        display: flex;
    }
    
    .footer-menu ul li {
        padding-right: 10px;
        display: block;
    }
    
    .footer-menu ul li a {
        color: #cfd2d6;
        text-decoration: none;
    }
    
    .footer-menu ul li a:hover {
        color: #27bcda;
    }
    
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .sci li {
        float: right;
        text-decoration: none;
        list-style: none;
        padding-right: 40px;
        font-size: 30px;
    }
    
    .socials {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
    }
    
    .sci li a {
        color: white;
    }
    
    .sci li a:hover {
        transform: translateY(-20px);
        box-shadow: inset-1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1);
    }
    
    .sci li:nth-child(1) a:hover {
        color: #3b5998;
        transform: translateY(-20px);
    }
    
    .sci li:nth-child(2) a:hover {
        color: rgba(188, 42, 141);
        transform: translateY(-20px);
    }
    
    .sci li:nth-child(3) a:hover {
        color: #F0E68C;
        transform: translateY(-20px);
    }
    
    .siteFooterBar {
        position: absolute;
        bottom: 0;
        padding-top: 10px;
        width: 100%;
        box-shadow: 0px 0px 25px rgb(12, 12, 12);
        height: 20px;
        color: #9B9B9B;
        background: #070707;
    }
    
    .content1 {
        display: contents;
        margin: 0px auto;
        text-align: center;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        width: 250px;

    }
    .content1 .foot{
        margin-top: -7px;
    }
    
    @media (max-width:500px) {
        .footer-menu ul {
            display: flex;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .sci li {
            padding-right: 15px;
            font-size: 25px;
        }
    }
    
    @media screen and (max-width: 360px) {
        .sci li {
            padding-right: 7px;
            font-size: 20px;
        }
    }



@media screen and (max-width: 500px) {
    .head {
        padding-left: 15px;
        font-size: 30px;
        font-weight: 550;
    }

    .sci li {
        padding-right: 15px;
        font-size: 25px;
    }
}

@media screen and (max-width: 360px) {
    .head {
        padding-left: 7px;
        font-size: 25px;
    }

    .sci li {
        padding-right: 7px;
        font-size: 20px;
    }

    .bout p {
        font-size: 18px;
    }

    .bout {
        padding-left: 2px;
        padding-right: 2px;
    }
}

/* Mobile stability overrides */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (max-width: 900px) {
    header {
        position: sticky;
        top: 0;
        height: auto;
        min-height: 0;
        z-index: 100;
        padding: 0.45rem 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.45rem;
    }

    .header-logo {
        float: none;
        padding: 0;
        margin: 0;
    }

    .header-logo > img {
        width: 105px;
    }

    .header-list ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.35rem;
        margin: 0;
        padding: 0 0.75rem;
    }

    .header-list ul li {
        float: none;
        padding: 0;
        margin: 0;
    }

    .header-list ul li a {
        font-size: 0.78rem;
        letter-spacing: 0.08em;
        margin: 0;
        padding: 0.5rem 0.65rem;
        border-radius: 8px;
    }

    main {
        height: auto;
        min-height: calc(100vh - 120px);
        padding: 1.2rem 1rem;
    }

    .box {
        width: 100%;
        max-width: 600px;
        padding-top: 0;
    }

    .box h2 {
        font-size: 1.25rem;
        line-height: 1.3;
    }

    .des {
        font-size: 1.05rem;
    }

    .box .des li {
        width: 100%;
        padding: 0.9rem 0.8rem;
    }

    .hero-btn {
        width: auto;
        min-width: 165px;
        height: auto;
        padding: 10px 18px;
        letter-spacing: 0.06em;
    }

    .hero-btn:hover {
        width: auto;
    }

    footer {
        top: 0;
        height: auto;
        padding: 1.5rem 1rem 2.4rem;
    }

    .footer-content h3 {
        line-height: 1.4;
    }

    .footer-content p {
        font-size: 0.95rem;
        line-height: 1.45;
    }

    .socials {
        justify-content: center;
    }

    .sci {
        margin: 0;
        padding: 0;
    }

    .sci li {
        float: none;
        display: inline-block;
        padding: 0 8px;
    }

    .siteFooterBar {
        position: static;
        margin-top: 0.5rem;
    }
}

@media (max-width: 500px) {
    .header-logo > img {
        width: 95px;
    }

    .header-list ul {
        gap: 0.25rem;
    }

    .header-list ul li a {
        font-size: 0.72rem;
        padding: 0.45rem 0.52rem;
    }

    main {
        padding: 1rem 0.7rem;
    }

    .box h2 {
        font-size: 1.08rem;
    }

    .des {
        font-size: 0.95rem;
    }

    .hero-btn {
        min-width: 145px;
        padding: 9px 14px;
        font-size: 1rem;
    }
}
